@{
	ViewData["Title"] = "Inicio";
}

@model Equitool.Models.ModeloFacturacion

@if (User.Identity.IsAuthenticated)
{
	<!-- Page content-->
	<!-- Cards dashboard -->
	<div class="container-fluid px-5 pb-2 ">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-12">
				<div class="card-counter primary">
					<i class="fa fa-code-fork"></i>
					<span class="count-numbers">18</span>
					<span class="count-name">Envíos</span>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-12">
				<div class="card-counter danger">
					<i class="fa fa-ticket"></i>
					<span class="count-numbers">4</span>
					<span class="count-name">Rechazados</span>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-12">
				<div class="card-counter success">
					<i class="fa fa-database"></i>
					<span class="count-numbers">@Model.listaRegistros.Count</span>
					<span class="count-name">Correos</span>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-12">
				<div class="card-counter info">
					<i class="fa fa-users"></i>
					<span class="count-numbers">5</span>
					<span class="count-name">Aceptados</span>
				</div>
			</div>
		</div>
	</div>

	<!-- User message -->
	<div class="container">
		<div class="col">
			<div class="card mb-3">
				<figure><img src="/images/dashboard-img.svg" class="card-img-top d-none d-sm-block pt-2" alt="dashboard-image" height="250" width="308"></figure>
				<div class="card-body">
					<h3 class="card-title text-center">¡Bienvenido de vuelta!</h3>
					<p class="card-text lead responsive-font-example-p">Hola, <b>¡@User.Identity.Name!</b></p>
					<p class="card-text">
						<small class="text-muted">
							<i class="far fa-calendar-alt"></i> @DateTime.Now
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Sub-título -->
	<div class="container">
		<h2 class="text-center text-dark p-2 bg-white headings__boxshadow--dark">Mis correos</h2>
	</div>

	<form method="post">
		<button asp-action="GetCorreos">Cargar Datos</button>
	</form>

	<!-- Datatable -->
	<div class="container border p-3 mb-3 mt-3">
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive table-hover">
					<button id="btnListar" class="btn btn-primary btn-sm float-right">Listar</button>
					<table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
						<thead class="text-center">
							<tr>
								<th>Id</th>
								<th>Fecha creación</th>
								<th>Fecha actualización</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody class="text-center">
							@foreach (var item in Model.listaRegistros)
							{
								<tr>
									<th>
										@item.facn_id
									</th>
									<th>
										@item.facd_fechacreacion
									</th>
									<th>
										@item.facd_fechaactualizacion
									</th>
									<th>
										<!-- Ver detalles -->
								<button type="button" class="btn btn-custom btn-primary" data-toggle="modal" data-target="#modalDetalles">
											<i class="far fa-eye"></i><span class="hidden-small"> Detalles</span>
										</button>
										<!-- Borrar -->
								<button type="button" class="btn btn-custom btn-danger" data-toggle="modal" data-target="#modalBorrar">
											<i class="fas fa-trash-alt"></i><span class="hidden-small"> Borrar</span>
										</button>
									</th>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="modalDetallesLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalDetallesLabel">Descripción</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Fecha de creación:</p>
					<p>De:</p>
					<p>Para: </p>
					<p>Asunto: </p>
					<p></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalBorrar" tabindex="-1" role="dialog" aria-labelledby="modalBorrarLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalBorrarLabel">¿Eliminar?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="lead">¿Estas seguro de querer borrar este elemento?</p>
					<p class="text-muted">Esta acción es irreversible</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-danger" id="btnBorrarModal" data-dismiss="modal">Borrar</button>
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	@section Scripts {
<script type="text/javascript">
	// llamar al dataTable
	$(document).ready(function () {
		var table = $('#myTable').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
			},
			responsive: true,
			dom: 'lfBrtip',
			buttons: [
				{
					extend: 'copyHtml5',
					text: '<i class="fas fa-copy"></i><span class="hidden-small"> Copiar</span>',
					titleAttr: 'Copiar al portapapeles',
					className: 'btn btn-custom btn-primary'
				},
				{
					extend: 'excelHtml5',
					text: '<i class="fas fa-file-excel"></i><span class="hidden-small"> Excel</span>',
					titleAttr: 'Exportar a Excel',
					className: 'btn btn-custom btn-success'
				},
				{
					extend: 'csvHtml5',
					text: '<i class="fas fa-file-csv"></i><span class="hidden-small"> CSV</span>',
					titleAttr: 'Exportar a Excel',
					className: 'btn btn-custom btn-success'
				},
				{
					extend: 'pdfHtml5',
					text: '<i class="fas fa-file-pdf"></i><span class="hidden-small"> PDF</span>',
					titleAttr: 'Exportar a PDF',
					className: 'btn btn-custom btn-danger'
				},
				{
					extend: 'print',
					text: '<i class="fa fa-print"></i><span class="hidden-small"> Imprimir</span>',
					titleAttr: 'Imprimir',
					className: 'btn btn-custom btn-info'
				},
				{
					extend: 'colvis',
					text: '<i class="fas fa-eye"></i><span class="hidden-small"> Mostrar</span>',
					titleAttr: 'Visibilidad'
				}
			]
		});

		new $.fn.dataTable.FixedHeader(table);

	});
</script>
<!-- SweetAlert -->
<script type="text/javascript">

	$('#btnBorrarModal').click(function () {
		const Toast = Swal.mixin({
			toast: true,
			position: 'bottom-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'success',
			title: 'Elemento borrado'
		});
	});
</script>
    }

}
else
{

	<!-- Carousel - Header-->
	<div id="carouselIndex" class="carousel slide d-none d-lg-block" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselIndex" data-slide-to="0" class="active"></li>
			<li data-target="#carouselIndex" data-slide-to="1"></li>
			<li data-target="#carouselIndex" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="mask flex-center">
					<div class="container">
						<div class="row align-items-center p-lg-5">
							<div class="col-md-7 col-12 order-md-1 order-2">
								<h4 class="text-white">
									Present your <br>
									awesome product
								</h4>
								<p class="text-white">
									Lorem ipsum dolor sit amet. Reprehenderit<br>
									necessitatibus praesentium voluptatum deleniti atque corrupti.
								</p>
								<a class="btn btn-custom btn-light btn-lg" href="#scroll">¡Ver más!</a>
							</div>
							<div class="col-md-5 col-12 order-md-2 order-1"><figure><img src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide"></figure></div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="mask flex-center">
					<div class="container">
						<div class="row align-items-center p-lg-5">
							<div class="col-lg-7 col-md-7 col-12 order-md-1 order-2">
								<h4 class="text-white">
									Present your <br>
									awesome product
								</h4>
								<p class="text-white">
									Lorem ipsum dolor sit amet. Reprehenderit<br>
									necessitatibus praesentium voluptatum deleniti atque corrupti.
								</p>
							</div>
							<div class="col-lg-5 col-md-5 col-12 order-md-2 order-1"><figure><img src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide"></figure></div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="mask flex-center">
					<div class="container">
						<div class="row align-items-center p-lg-5">
							<div class="col-lg-7 col-md-7 col-12 order-md-1 order-2">
								<h4 class="text-white">
									Present your <br>
									awesome product
								</h4>
								<p class="text-white">
									Lorem ipsum dolor sit amet. Reprehenderit<br>
									necessitatibus praesentium voluptatum deleniti atque corrupti.
								</p>
							</div>
							<div class="col-lg-5 col-md-5 col-12 order-md-2 order-1"><figure><img src="https://i.imgur.com/DGkR4OQ.png" class="mx-auto" alt="slide"></figure></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
		</a>
	</div>
	<!--slide end-->
	<!-- Content section 1-->
	<section id="scroll">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5"><figure><img class="img-fluid rounded-circle section__border-shadow" src="/images/index-image-4.svg" alt="Index image-1" id="index-image-1" /></figure></div>
				</div>
				<div class="col-lg-6 order-lg-1 border mb-md-5 mb-sm-5 section__description--shadow">
					<div class="p-sm-5">
						<h2 class="font-weight-bold responsive-font-example">Ten el control</h2><br />
						<h5 class="d-none d-md-block"><b>¿Quieres tener un registro de tus facturas?</b></h5>
						<p class="text-justify responsive-font-example-p">Con las opciones de manejo de tus facturas, podras llevar un registro del estado de tus facturas.<br /> Podras visualizar los precios de las distintas facturas, enviarlas y manipularlas de acuerdo a tus necesidades</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Content section 2-->
	<section id="section-2">
		<div class="custom-shape-divider-bottom-1635297574">
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
				<path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
			</svg>
		</div>
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6">
					<div class="p-5"><figure><img class="img-fluid rounded-circle section__border-shadow" src="/images/index-img-2.svg" alt="Index image-2"></figure></div>
				</div>
				<div class="col-lg-6 my-xl-auto my-lg-2 my-md-2 mb-sm-2 border bg-white section__description--shadow">
					<div class="p-sm-5">
						<h2 class="display-4 font-weight-bold responsive-font-example">¡Manipula tus facturas!</h2><br />
						<h5 class="d-none d-md-block"><b>¿Deseas revisar a detalle tus facturas?</b></h5>
						<p class="text-justify responsive-font-example-p">Utilizando las opciones de manipulación puedes revisar a detalle tus facturas y aceptarlas o rechazarlas, además de poder analizarlas a tu gusto</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Content section 3-->
	<section>
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5"><figure><img class="img-fluid rounded-circle section__border-shadow" src="/images/index-img-3.svg" alt="Index image-3" /></figure></div>
				</div>
				<div class="col-lg-6 order-lg-1 border mb-md-5 mb-sm-5 section__description--shadow">
					<div class="p-sm-5">
						<h2 class="display-4 font-weight-bold responsive-font-example">¿Servicio de mensajería?</h2><br />
						<p class="text-justify responsive-font-example-p">Para facilitar tu comunicación con los demás usuarios, ¡contaras con el envío y recibo de correos electronicos para agilizar tus procesos de gestión!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Back to top arrow -->
	<a id="back-to-top" href="#" class="btn btn-outline-primary border-0 btn-xl back-to-top mb-5" role="button" title="Volver arriba"><i class="fas fa-chevron-up"></i></a>

}


